{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        <form method="GET">
            {{ filter.form|bootstrap }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <ul>
            {% for duration in filter.qs %}
                <div>
                    id: {{ duration.id }}
                    client: {{ duration.client_id.name }}
                    equipment: {{ duration.equipment_id.name }}
                    mode:  {{ duration.mode_id.name }}
                    minutes: {{ duration.minutes }}
                    start: {{ duration.start }}
                    stop: {{ duration.stop }}
                </div>
            {% endfor %}
        </ul>

    </div>
{% endblock %}